/**

*/

/*																				  REPLACE THIS		*/
/*																					 â†“â†“â†“â†“â†“			*/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);
/*																					 â†‘â†‘â†‘â†‘â†‘		  	*/
/*																				  REPLACE THIS	

/**
* @name NakaCord+
* @version Auto Update
* @description An edited version of the existing theme titled Frosted Glass, made to Naka's liking, hence the name NakaCord+
* @author Gibbu
* @invite ZHthyCw
* @Source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/FrostedGlass
* @website https://betterdiscord.app/theme/Frosted%20Glass
*/
@import url("https://discordstyles.github.io/FrostedGlass/base.css");
@import url('https://discordstyles.github.io/RadialStatus/base.css');
:root {
--background-image: url('https://i.pinimg.com/originals/d0/9c/2e/d09c2ecc77c9f700cdf423342b7bbebe.gif');
--background-image-blur: 1px;
--background-image-size: cover;
--background-image-position: center;
--popout-modal-image: url('https://i.pinimg.com/originals/d0/9c/2e/d09c2ecc77c9f700cdf423342b7bbebe.gif');
--popout-modal-blur: 28px;
--popout-modal-size: cover;
--popout-modal-position: center;
--home-button-mage: url('https://discordstyles.github.io/FrostedGlass/assets/discord.svg');
--home-button-size: cover;
--home-button-position: center;
--serverlist-brightness: 0.5;
--left-brightness: 0.65;
--middle-brightness: 0.65;
--right-brightness: 0;
--popout-modal-brightness: 0.7;

--tint-colour: 255,51,159;
--tint-brightness: 0;
--window-padding: 9px;
--window-roundness: 10px;
--scrollbar-colour: #00000025;
--link-colour: #00b0f4;
--show-gift-gif-buttons: block;
--update-notice-1: none;
--rs-small-spacing: 2px;
--rs-medium-spacing: 3px;
--rs-large-spacing: 4px;
--rs-small-width: 2px;
--rs-medium-width: 3px;
--rs-large-width: 4px;
--rs-avatar-shape: 50%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-offline-color: #636b75;
--rs-streaming-color: #643da7;
--rs-invisible-color: #747f8d;
--rs-phone-visible: none;
}
::selection {
  color:#46cbff;
  background: rgba(255, 255, 255, 0);

}


*/
span.roleColor-rz2vM0::after {
    content: "";
    background: currentColor;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.11;
    left: 0;
    top: 0;
}
 
 
/*
